<% provide(:title,"Documents") %>
<h1>Documents about WTO & FTAs</h1>
<p>Documents about WTO and FTAs</p>
<p><%= link_to 'FTA guidebook','http://www.spring.gov.sg/Resources/Documents/Guidebook_FTA_Guide_Goods.pdf' %></p>
<p><%= link_to 'FTA guidebook for SMEs', 'http://www.spring.gov.sg/Resources/Documents/Guidebook_FTA_Guide_Services_Eng.pdf'%></p>

