<div class="center jumbotron" id="landpage_bg">
  <h1>Welcome to the International FTAs Portal</h1>

  <h2>
    This is the home page for the
    International FTAs Portal
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="container-fluid">
  <h1>Visit our application to</h1>
  <div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4" >
      	<h2>Introduction about FTA & WTO introduction</h2>
      	<%= link_to image_tag("wtoicon.png",size: '256x256', class: "img-responsive"),introduction_path  %>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
      <h2>FTA documents</h2>
      <%= link_to image_tag("documents.png",size: '256x256', class:"img-responsive"), documents_path%>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
      <h2>How to utilize FTA to reduce cost of shipping </h2>
      <%= link_to image_tag("money.png",size: '256x256', class: "img-responsive"), utilize_path %>
    </div>
  </div>
</div>
            
