<% provide(:title,"Introduction") %>
<h1>Introduction about WTO & FTAs</h1>
<h2>What is the WTO?</h2>
<p>The World Trade Organization (WTO) is the only global international organization dealing with the rules of trade between nations. At its heart are the WTO agreements, negotiated and signed by the bulk of the world’s trading nations and ratified in their parliaments. The goal is to help producers of goods and services, exporters, and importers conduct their business.</p>
<h2>What WTO do </h2>
<p> The WTO is run by its member governments. All major decisions are made by the membership as a whole, either by ministers (who usually meet at least once every two years) or by their ambassadors or delegates (who meet regularly in Geneva).</p>
<p>While the WTO is driven by its member states, it could not function without its Secretariat to coordinate the activities. The Secretariat employs over 600 staff, and its experts — lawyers, economists, statisticians and communications experts — assist WTO members on a daily basis to ensure, among other things, that negotiations progress smoothly, and that the rules of international trade are correctly applied and enforced.

<h4>Trade negotiations</h4>

<p>The WTO agreements cover goods, services and intellectual property. They spell out the principles of liberalization, and the permitted exceptions. They include individual countries’ commitments to lower customs tariffs and other trade barriers, and to open and keep open services markets. They set procedures for settling disputes. These agreements are not static; they are renegotiated from time to time and new agreements can be added to the package. Many are now being negotiated under the Doha Development Agenda, launched by WTO trade ministers in Doha, Qatar, in November 2001. </p>

<h4>Implementation and monitoring</h4>

<p>WTO agreements require governments to make their trade policies transparent by notifying the WTO about laws in force and measures adopted. Various WTO councils and committees seek to ensure that these requirements are being followed and that WTO agreements are being properly implemented. All WTO members must undergo periodic scrutiny of their trade policies and practices, each review containing reports by the country concerned and the WTO Secretariat.</p>

<h4>Dispute settlement</h4>

<p>The WTO’s procedure for resolving trade quarrels under the Dispute Settlement Understanding is vital for enforcing the rules and therefore for ensuring that trade flows smoothly. Countries bring disputes to the WTO if they think their rights under the agreements are being infringed. Judgements by specially appointed independent experts are based on interpretations of the agreements and individual countries’ commitments.</p>

<h4>Building trade capacity</h4>

<p>WTO agreements contain special provision for developing countries, including longer time periods to implement agreements and commitments, measures to increase their trading opportunities, and support to help them build their trade capacity, to handle disputes and to implement technical standards. The WTO organizes hundreds of technical cooperation missions to developing countries annually. It also holds numerous courses each year in Geneva for government officials. Aid for Trade aims to help developing countries develop the skills and infrastructure needed to expand their trade.</p>

<h4>Outreach</h4>

<p>The WTO maintains regular dialogue with non-governmental organizations, parliamentarians, other international organizations, the media and the general public on various aspects of the WTO and the ongoing Doha negotiations, with the aim of enhancing cooperation and increasing awareness of WTO activities.</p>
